@import "@/assets/scss/base";
@import "grid.scss";

section {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 3px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
  transition: 0.2s;
}

@media (hover: hover) {
  a:hover {
    color: var(--background-primary);
  }
}
